* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
}

.NavBar {
    background: linear-gradient(90deg, #1a112a, #290d3f);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ff57d2;
    box-shadow: 0 0 15px #ff57d2;
    z-index: 100;
    position: sticky;
    top: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0d5ff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.nav-item .icon {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    color: #ff57d2;
    transform: scale(1.1);
}

.nav-item:hover .icon {
    color: #ff57d2;
    transform: rotate(5deg);
}

.profile-link {
    flex-direction: row;
    gap: 0.5rem;
}

.profile-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #ff57d2;
    object-fit: cover;
    box-shadow: 0 0 10px #ff57d2;
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .nav-item {
        font-size: 0.6rem;
    }

    .nav-item .icon {
        font-size: 1.2rem;
    }
    .profile-pic {
        width: 2rem;
        height: 2rem;
    }
}
