/* SearchPage.css */
body {

    background: rgb(82,5,123);
    background: linear-gradient(180deg, rgba(82,5,123,1) 10%, rgba(0,0,0,1) 100%);
    color: #BC6FF1;
}

.search-container {
    color: #BC6FF1;
    font-family: 'Carter One', sans-serif;
    text-align: center;
    max-width: 800px;
    margin: auto;
}


.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.manga-item {
    background-color: #1f1f1f;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #BC6FF1;
}

.manga-cover {
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.favorite-icon-button {
    cursor: pointer;
    margin-top: 5px;
    color: #888;
    font-size: 1.2rem;
    transition: color 0.3s, text-shadow 0.3s;
}

.favorite-icon-button:hover {
    color: #ff4081;
}

.favorite-icon-button.favorited {
    color: #ff4081;
    text-shadow: 0 0 8px #ff4081;
}

